* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #fff;
    background-color: #121316;
    
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1156px;
    border: 1px solid red
}

.main-banner, .container {
    margin-left: auto;
    margin-right: auto;
}

header {
    height: 60px;
    background: #2a2c33;
}

.header-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green 
}

.search-wrapper {
    display: flex;
}

.header-wrapper-img {
    display: flex;
    border: 1px solid rgb(107, 128, 0) 
}

.main-banner {
    width: 100%;
    height: 612px;
    background-image: url("./assets/images/sherlock.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.main-film-info {
    width: 970px;
    height: 612px;
    background: linear-gradient(90deg, #000 17.2%, rgba(0, 0, 0, 0) 100%);
}

.main-film-info-wrapper {
    padding: 16px 0 113px;
    display: flex;
    flex-direction: column;
}

.main-film-img-wrapper {
    padding-bottom: 56px;
}

.block-info-wrapper {
    width: 456px;
    height: 276px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

h1, h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.28571;
    padding-bottom: 12px;
}

ul {
    list-style-type: none;
}

p, span {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71429;
}

span {
    color: #b9b9b9;
}

.film-info {
    color: #b9b9b9;
    padding-bottom: 24px;
}


.film-info-details-wrapper {
    gap: 12px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.search {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #939393;
}

input {
    padding: 0 9px;
    width: 220px;
    height: 36px;
    background: #2a2c33;
    border: none;
}